body {
    background:#111;
    color:white;
    font-family:Arial;
    display:flex;
    justify-content:center;
}

.container {
    width:400px;
    margin-top:40px;
    display:flex;
    flex-direction:column;
    gap:10px;
    background:#222;
    padding:20px;
    border-radius:10px;
}

input {
    padding:10px;
    border:none;
    border-radius:6px;
}

button {
    padding:10px;
    background:#4a63ff;
    border:none;
    color:white;
    border-radius:6px;
    cursor:pointer;
    font-weight:bold;
}

pre{
    white-space:pre-wrap;
    font-size:14px;
}
